{% extends 'admin_dashboard/base.html' %}

{% block content %}

<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Dashboard</h1>

        <div class="row">
            <div class="col-xl-3 col-md-6">
                <div class="card bg-primary text-white mb-4">
                    <div class="card-body">
                        <h3>All Users</h3>
                        <p class="fs-3">{{all_users}}</p>
                    </div>

                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="{% url 'show_users' %}">View Details</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-success text-white mb-4">
                    <div class="card-body">
                        <h3>All Donations</h3>
                        <p class="fs-3">{{all_donations}}</p>
                    </div>

                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="{% url 'show_donations' %}">View Details</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-danger text-white mb-4">
                    <div class="card-body">
                        <h3>All Projects</h3>
                        <p class="fs-3">{{all_projects}}</p>
                    </div>

                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="{% url 'show_projects' %}">View Details</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-info text-white mb-4">
                    <div class="card-body">
                        <h3>All Categories</h3>
                        <p class="fs-3">{{all_categories}}</p>
                    </div>

                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="{% url 'show_categories' %}">View Details</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Start Latest Registered Users -->
        <div class="card mb-4">
            <div class="card-header bg-primary text-white">
                <i class="fas fa-users me-1"></i>
                Latest Registered Users
            </div>
            <div class="card-body">
                <table class="datatablesSimple">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email Address</th>
                        <th>Birth Date</th>
                        <th>Phone Number</th>
                        <th>Facebook Profile</th>
                        <th>Country</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for user in get_latest_users %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{user.first_name}}</td>
                        <td>{{user.last_name}}</td>
                        <td>{{user.username}}</td>
                        <td>{{user.birth_date}}</td>
                        <td>{{user.phone_number}}</td>
                        <td>{{user.facebook_profile}}</td>
                        <td>{{user.country}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- End Latest Registered Users -->

        <!-- Start Latest Donations -->
        <div class="card mb-4 text-capitalize">
            <div class="card-header bg-success text-white">
                <i class="fas fa-hand-holding-dollar me-1"></i>
                Latest Donations
            </div>
            <div class="card-body">
                <table class="datatablesSimple">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>User</th>
                        <th>Project</th>
                        <th>Amount</th>
                        <th>Created At</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for donation in get_latest_donations %}
                    <tr>
                        <th>{{ forloop.counter }}</th>
                        <td>{{donation.user}}</td>
                        <td>{{donation.project}}</td>
                        <td>{{donation.amount}} £</td>
                        <td>{{donation.created_at}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- End Latest Donations -->

        <!-- Start Latest Created Projects -->
        <div class="card mb-4 text-capitalize">
            <div class="card-header bg-danger text-white">
                <i class="fas fa-diagram-project me-1"></i>
                Latest Created Projects
            </div>
            <div class="card-body">
                <table class="datatablesSimple">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Total Target</th>
                        <th>Current Fund</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>Rate</th>
                        <th>Creator</th>
                        <th>Category</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for project in get_latest_projects %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{project.title}}</td>
                        <td>{{project.total_target}}</td>
                        <td>{{project.current_fund}}</td>
                        <td>{{project.start_time}}</td>
                        <td>{{project.end_time}}</td>
                        <td>{{project.rate}}</td>
                        <td>{{project.creator}}</td>
                        <td>{{project.category}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- End Latest Created Projects -->

        <!-- Start Latest Featured Projects -->
        <div class="card mb-4 text-capitalize">
            <div class="card-header bg-info text-white">
                <i class="fas fa-layer-group me-1"></i>
                Latest Featured Projects
            </div>
            <div class="card-body">
                <table class="datatablesSimple">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Total Target</th>
                        <th>Current Fund</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>Rate</th>
                        <th>Creator</th>
                        <th>Category</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for project in get_featured_projects %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{project.title}}</td>
                        <td>{{project.total_target}}</td>
                        <td>{{project.current_fund}}</td>
                        <td>{{project.start_time}}</td>
                        <td>{{project.end_time}}</td>
                        <td>{{project.rate}}</td>
                        <td>{{project.creator}}</td>
                        <td>{{project.category}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- End Latest Created Projects -->

    </div>
</main>

<script>
    window.addEventListener('DOMContentLoaded', event => {
        const datatablesSimple = document.querySelectorAll('.datatablesSimple');

        if (datatablesSimple.length > 0) {
            Array.from(datatablesSimple).forEach((element) => {
                new simpleDatatables.DataTable(element, {
                    "info": false,
                    "paging": false,
                });
            });
        }

        const datatablesSearch = document.querySelectorAll('.datatable-search');
        if (datatablesSearch.length > 0) {
            Array.from(datatablesSearch).forEach((element) => {
                element.style.display = 'none';
            });
        }
    });
</script>

{% endblock %}