{% extends 'admin_dashboard/base.html' %}

{% block content %}

<div class="container">
    
    <div class="card my-5">
        <div class="card-header">
            <h5 class="card-title">Category Details</h5>
        </div>
        <div class="card-body">
            <p class="card-text"><strong>Category ID:</strong> {{ category.id }}</p>
            <p class="card-text"><strong>Title:</strong> {{ category.name}}</p>
            <p class="card-text"><strong>descryption:</strong> {{ category.description }}</p>
        </div>
    </div>

    <table id="datatablesSimple">
        <!-- Table headers -->
        <thead>
            <tr>
                 <tr>
                <th>Title</th>
                <th>Creator</th>
                <th>Category</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Status</th>
            </tr>
            </tr>
        </thead>
        <tbody>
            <!-- Table rows -->
            {% for project in Projects %}
            <tr>
                 <td>{{ project.title }}</td>
                <td>{{ project.creator.username }}</td>
                <td>{{ project.category.name }}</td>
                <td>{{ project.start_time }}</td>
                <td>{{ project.end_time }}</td>
                <td>{{ project.status }}</td>

            </tr>
            {% endfor %}
        </tbody>
    </table>


</div>

{% endblock %}
