{% extends 'admin_dashboard/base.html' %}

{% block content %}

<div class="container">
    <a class="btn btn-primary text-white fs-5 my-3" href="{% url 'show_categories' %}">
        <i class="fa-solid fa-arrow-left"></i></a>

    <div class="card my-5">
        <div class="card-header bg-primary p-2 text-white">
            <h5 class="card-title">Category Details</h5>
        </div>
        <div class="card-body text-capitalize">
            <p class="card-text"><strong>Category ID:</strong> {{ category.id }}</p>
            <p class="card-text"><strong>Title:</strong> {{ category }}</p>
            <p class="card-text"><strong>Description:</strong> {{ category.description }}</p>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-header bg-primary p-2 text-white">
            <i class="fas fa-diagram-project me-1"></i>
            <h5 class="d-inline"> Projects Related To This Category</h5>
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <!-- Table headers -->
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Creator</th>
                    <th>Total Target</th>
                    <th>Current Fund</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Status</th>
                    <th>Featured</th>
                </tr>
                </thead>
                <tbody>
                <!-- Table rows -->
                {% for project in Projects %}
                <tr>
                    <td>{{ project.title }}</td>
                    <td>{{ project.creator }}</td>
                    <td>{{ project.total_target }}</td>
                    <td>{{ project.current_fund }}</td>
                    <td>{{ project.start_time }}</td>
                    <td>{{ project.end_time }}</td>
                    <td>{{ project.status }}</td>
                    <td>{{ project.featured }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
