  <!-- Donation Form Modal -->
  <div class="modal fade" id="donationModal" tabindex="-1" aria-labelledby="donationModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="donationModalLabel">Donate to {{ project.title }}</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <form action="{% url 'add_donation' slug=project.slug %}" method="post">
                      {% csrf_token %}
                      <input type="number" name="amount" class="form-control" placeholder="Enter donation amount"
                          required>
                      <button type="submit" class="btn btn-primary">Donate</button>
                  </form>
              </div>
          </div>
      </div>
  </div>