<div class="modal fade" id="reportCommentModal{{ comment.id }}" tabindex="-1" role="dialog" aria-labelledby="reportCommentModal{{ comment.id }}Label" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="reportCommentModal{{ comment.id }}Label">Report Comment by {{ comment.user }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="{% url 'report_comment' comment.id %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="comment_id" value="{{ comment.id }}">
            <div class="form-group">
              <label for="reportReason">Reason for Reporting:</label>
              <textarea class="form-control" id="reportReason" name="reason" rows="3" required></textarea>
            </div>
            <button type="submit" class="btn btn-danger">Report Comment</button>
          </form>
        </div>
      </div>
    </div>
  </div>