{% extends "layouts/base.html" %}
{% load static %}

{% block title %} Tag | {{ tag }} {% endblock %}

{% block navbar %}
{% include 'layouts/navbar.html' %}
{% endblock %}

{% block content %}
<div class="row mb-2">
    <h3 class="text-center">projects has tag ({{tag}})</h1>
    {% for project in projects %}
    
    <div class="item col-3">
                        <div class="card p-2 bg-light">
                            <img src="{{project.picture_url}}" style=" height: 200px; width: 100%;" class="card-img-top"
                                alt="project">
                            <div class="card-body">
                                <h5 class="card-title">{{project.title}}</h5>
                                <p class="card-text">{{project.details}}</p>
                                <progress class="w-100" value="{{ searchResult.current_fund }}"
                                    max="{{ searchResult.total_target }}"></progress>
                                <div class="d-flex justify-content-between">
                                    <p>{{project.current_fund }} / {{ project.total_target}}</p>
                                    <p>{{project.percentag}} %</p>
                                </div>
                                <a href="{% url 'project_details' project.slug %}" class="btn btn-success mt-1">Show project</a>
                            </div>
                        </div>
                    </div>
    {% endfor %}
</div>
{% endblock %}
