{% extends "layouts/base.html" %}

{% load static %}

{% block title %}Password Reset Confirm{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mt-5 p-3">
                    <div class="card-body">
                        <h2 class="card-title text-center">Password Reset Confirm</h2>
                        <p class="card-text text-center">Please enter your new password</p>

                        <form action="" class="mx-auto" id="passwordResetForm" method="POST">
                            {% csrf_token %}

                            <div class="mb-3">
                                <label class="form-label" for="new_password1">Password</label>
                                <div class="input-group">
                                    <span class="input-group-text">
                                        <i class="fa fa-lock"></i>
                                    </span>
                                    {{ form.new_password1 }}
                                </div>
                                <div class="invalid-feedback d-none" id="password1Error">Password is required.</div>
                            </div>

                            <div class="mb-3">
                                <label class="form-label" for="new_password2">Confirm Password</label>
                                <div class="input-group">
                                    <span class="input-group-text">
                                        <i class="fa fa-lock"></i>
                                    </span>
                                    {{ form.new_password2 }}
                                </div>
                                <div class="invalid-feedback d-none" id="password2Error">
                                    Password confirmation is required.
                                </div>
                            </div>

                            {% if messages %}
                            <ul class="messages list-unstyled">
                                {% for message in messages %}
                                <li class="text-danger">{{ message }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}

                            <div class="mb-3 text-center">
                                <button class="btn btn-primary" id="submitButton" type="submit">Reset Password</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="{% static 'accounts/js/password_confirm.js' %}"></script>

{% endblock %}
